.BackDrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.BackDrop::after {
  z-index: 1900;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: url("../../../../assets/images/overlay.png") 0 0 repeat;
  opacity: 0.8;
}

.Wrapper {
  z-index: 2005;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  width: 90vw;
  border-radius: 4px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 1rem 1.6rem;
  border-bottom: 1px solid var(--text);
}

.Header > h1 {
  font-size: 2rem;
  color: var(--accent);
  font-weight: bolder;
  margin: 0;
}

.CloseIcon {
  display: inline-block;
  padding: 0.5rem;
  background: var(--accent);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.CloseIcon:hover {
  background: rgba(var(--accent-rgb), 0.8);
}

.CloseIcon:disabled {
  background: rgba(var(--accent-rgb), 0.5);
  color: var(--text);
  cursor: not-allowed;
}

.CloseIcon > svg {
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
}

.Body {
  flex-basis: 100%;
  padding: 1rem 1.6rem;
}

.Footer {
  background: #181818;
  padding: 1rem 1.6rem;
  border-top: 0.5px solid var(--text);
  color: var(--text);
}

.WrapperEnter {
  top: 10%;
  opacity: 0;
}

.WrapperEnterActive {
  top: 50%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.WrapperExit {
  top: 50%;
  opacity: 1;
}

.WrapperExitActive {
  top: 10%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 769px) {
  .Wrapper {
    width: 70vw;
    max-height: 70vh;
  }
}
