.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
}

.Main {
  height: calc(100vh - 65px);
  overflow-y: auto;
}

@media (min-width: 769px) {
  .App {
    display: flex;
    flex-direction: row;
  }

  .Main {
    width: calc(100% - 150px);
    height: 100vh;
    order: 2;
  }

  .Sidebar {
    width: 150px;
    height: 100vh;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .App {
    max-width: 1200px;
    margin: 0 auto;
  }
}
